# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Lambda artifact
lambda.zip

# Local IDE files
.vscode/
__pycache__/
*.pyc
